:root{
	--left-color: red;
	--middle-color: blue;
	--right-color: yellow;
}

body{
	padding: 0;
	margin: 0;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 15% 75% 10%;
	grid-template-areas:
    "header header header"
    "aside-left section aside-right"
    "footer footer footer";
}

main{
	display: contents;
}

header, footer{
	font-size: 2em;
	text-align: center;
}

header{
	grid-area: header;
}

.aside-left{
	background-color: var(--left-color);
	grid-area: aside-left;
}

section{
	background-color: var(--middle-color);
	grid-area: section;
}

.aside-right{
	background-color: var(--right-color);
	grid-area: aside-right;
}

footer{
	color: whitesmoke;
	background-color: black;
	grid-area: footer;
}

@media only screen and (max-device-width:600px) {
	body{
		grid-template-columns: 1fr;
		grid-template-rows: 15% 1fr 1fr 1fr 10%;
		grid-template-areas:
	    "header"
	    "aside-left"
	    "section"
	    "aside-right"
	    "footer";
	}
}