<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add recipe</title>
	<div th:replace="~{fragments :: bootstrapImport}"></div>
</head>
<body>
<div class="container-fluid">
	<form method="post" th:action="@{/cooking/addRecipe}" th:object="${recipe}">
		<div>
			<label for="name">Name:</label>
			<input id="name" th:field="*{name}" type="text">
		</div>
		<div>
			<label for="instructions">Instructions:</label>
			<textarea id="instructions" rows="3" th:field="*{instructions}"></textarea>
		</div>
		<div>
			<label for="ingredients">Ingredients:</label>
			<input id="ingredients" name="ingredients" placeholder="Enter ingredients, separated by commas" type="text">
		</div>
		<div>
			<label for="category">Category:</label>
			<select id="category" name="category">
				<option th:each="category : ${categoryList}"
				        th:field="*{category}"
				        th:text="${category.name}"
				        th:value="${category.name}">
				</option>
			</select>
		</div>
		<button>Send</button>
	</form>
</div>
</body>
</html>
