.card {
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    background-color: #FAFAF9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    & img{
        border-radius: 15px;
        width: 100%;
    }
    
    & p{
        color: #6C727F;
    }
}

.tag {
    padding: 10px 10px;
    margin: 5px;
    background-color: #E6D6FC;
    color: #883AE1;
    border-radius: 50px;
    border-style: none;
    font-weight: bolder;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}