body {
    font-family: 'Sora', sans-serif;
    margin: 0 15% 0 15%;
    padding: 0;
}

article{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: flex-start;*/
}

.card {
    flex: 1 40%;
    /*width: 40%;*/
    /*display: block;*/
    padding: 30px;
    background-color: #FAFAF9;
    border-radius: 15px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
    border-radius: 15px;
    width: 100%;
}

.tag {
    padding: 10px 25px;
    margin-top: 20px;
    background-color: #E6D6FC;
    color: #883AE1;
    border-radius: 50px;
    border-style: none;
    font-weight: bolder;
}

.card p {
    color: #6C727F;
}