.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background: rgb(255, 0, 0);
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(228, 141, 13, 1) 20%, rgba(217, 255, 2, 1) 40%, rgba(0, 255, 6, 1) 60%, rgba(0, 127, 255, 1) 80%, rgba(220, 0, 255, 1) 100%);
    border-radius: 20px;

    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    font-weight: bold;
    font-size: larger;
    font-family: Helvetica, sans-serif;
}


input {
    height: 5vh;
    border-radius: 5px;
    border: solid 1px darkgray;
    margin-top: 5px;
    width: 100%;
}

.form-item {
    padding: 10px;
}

input::placeholder {
    font-size: large;
}

button {
    height: 5ch;
    width: 10ch;
    font-size: 100%;
    border-radius: 10px;
    border: 0;
    background-color: dodgerblue;
    color: white;
}

.multi-line {
    display: flex;
    justify-content: space-between;
}

.multi-line > div {
    width: 48%;
    flex-direction: column;
}