table {
    margin: auto;
    background-color: #8522f3;
    text-align: center;
}

table td {
    color: black;
    background-color: whitesmoke;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}   